[Unit]
Description=AutoSSH Wrapper
Documentation=https://github.com/jseparovic/edgeautossh
After=systemd-networkd-wait-online.service
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/sbin/autosshwrap.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
